@font-face {
	font-family: "Montserrat";
	font-display: swap;
	font-weight: 600 700;
	src: url("fonts/montserrat.woff2") format("woff2");
}

html {
	font-size: 10px;
}

body {
	display: flex;
	margin: 0;
	padding: 1.4rem 1.6rem;
	overflow: hidden;
	font-family: "Montserrat", sans-serif;
	white-space: nowrap;
	background: rgba(0, 0, 0, 0);
	color: white;
	filter: drop-shadow(0 0 0.1rem black) drop-shadow(0 0 0.1rem black);
	transition: opacity 300ms ease-out;
}

body.loading,
body:not([data-game-state="Playing"]) {
	opacity: 0;
}

#cover {
	width: 6.8rem;
	height: 6.8rem;
	border-radius: 0.6rem;
	background-image: url("images/unknown.svg");
	background-repeat: no-repeat;
	background-size: contain;
	flex-shrink: 0;
}

#songData {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
	margin: -0.4rem 1.6rem -0.2rem;
	overflow: hidden;
	line-height: 1.2;
	font-size: 1.5rem;
	font-weight: 600;
}

#songData * {
	overflow: hidden;
	text-overflow: ellipsis;
}

#songData .row {
	display: flex;
	align-items: baseline;
	column-gap: 0.6em;
}

#songData span:empty {
	display: none;
}

#title {
	font-size: 2.4rem;
	font-weight: 700;
}

#subTitle,
#artist,
#mapper {
	font-size: 1.6rem;
}

#mapper:before,
#difficultyLabel:before {
	content: "‹";
}

#mapper:after,
#difficultyLabel:after {
	content: "›";
}

#difficultyLabel,
#subTitle {
	flex-shrink: 99999;
}

#characteristicIcon {
	width: 1.1em;
	height: 1.1em;
	flex-shrink: 0;
	align-self: center;
}

#type,
#bsrKey {
	font-size: 1.6rem;
	font-weight: 700;
	flex-shrink: 0;
}

#bsrKey {
	letter-spacing: 0.2rem;
}

#bsrKey:before {
	content: "!bsr ";
	letter-spacing: normal;
}
