@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap");

#songCard {
    display: flex;
    position: absolute;
    padding: 14px 16px;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    white-space: nowrap;
    color: white;
    opacity: 1;
    transition-property: opacity;
    transition-delay: 800ms;
    max-width: calc(100vw / var(--scale));
}

#songCard.top-right,
#songCard.bottom-right {
    flex-direction: row-reverse;
    text-align: right;
}

#songCard.top-right .row,
#songCard.bottom-right .row {
    justify-content: flex-end;
}

#songCard.hidden {
    visibility: hidden;
    opacity: 0;
}

#cover {
    width: 68px;
    height: 68px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

#songData {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: -4px 16px -2px;
    overflow: hidden;
    line-height: 1.2;
    font-size: 15px;
    font-weight: 600;
}

#songData * {
    overflow: hidden;
    text-overflow: ellipsis;
}

#songData .row {
    display: flex;
    align-items: baseline;
    column-gap: 0.6em;
}

#songCard span:empty {
    display: none;
}

#title {
    font-size: 24px;
    font-weight: 700;
}

#subTitle,
#author,
#mapper {
    font-size: 16px;
}

#mapper:before,
#difficultyLabel:before {
    content: "‹";
}

#mapper:after,
#difficultyLabel:after {
    content: "›";
}

#difficultyLabel,
#subTitle {
    flex-shrink: 99999;
}

#characteristicIcon {
    width: 1.1em;
    height: 1.1em;
    flex-shrink: 0;
    align-self: center;
}

#bsrKey {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    flex-shrink: 0;
}

#bsrKey:before {
    content: "!bsr ";
    letter-spacing: normal;
}
