@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&display=swap");

#songCard {
    position: absolute;
    padding: 14px 16px;
    font-family: "Montserrat", sans-serif;
    white-space: nowrap;
    color: white;
    opacity: 1;
    transition-property: opacity;
    transition-delay: 800ms;
    max-width: 100%;
}

#songCard.top-left,
#songCard.bottom-left {
    text-align: left;
}

#songCard.top-right,
#songCard.bottom-right {
    text-align: right;
}

#songCard.hidden {
    visibility: hidden;
    opacity: 0;
}

#beatmap {
    display: flex;
}

#songCard.top-left #beatmap,
#songCard.bottom-left #beatmap {
    flex-direction: row;
}

#songCard.top-right #beatmap,
#songCard.bottom-right #beatmap {
    flex-direction: row-reverse;
}

#cover {
    width: 68px;
    height: 68px;
    border-radius: 6px;
    background-repeat: no-repeat;
    background-size: contain;
    flex-shrink: 0;
}

#meta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    margin: -2px 16px 1px;
    line-height: 1;
    overflow: hidden;
}

#meta * {
    overflow: hidden;
    text-overflow: ellipsis;
}

#title {
    font-size: 24px;
    font-weight: 700;
}

#subTitle {
    font-size: 14px;
    font-weight: 600;
    margin-left: 5px;
}

#info, #makers {
    display: flex;
    column-gap: 0.5em;
}

#makers {
    font-size: 16px;
    font-weight: 600;
}

#mapper:not(:empty):before {
    content: "[";
}
#mapper:not(:empty):after {
    content: "]";
}

#info {
    font-size: 14px;
    font-weight: 600;
}

#difficultyLabel:not(:empty):before {
    content: "[";
}

#difficultyLabel:not(:empty):after {
    content: "]";
}

#bsrKey {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    flex-shrink: 0;
}

#bsrKey:not(:empty):before {
    content: "!bsr ";
    letter-spacing: normal;
}
